{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card">
    <div class="card-body">
    
       <h5>Notícia</h5>
    <hr><table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Notícia</th>
            
               

                
                
            </tr></thead>
            <tbody>
                {% for noticiascad in resultado %}
                <tr>
                    <td>{{noticiascad.id}}</td>
                    <td>{{noticiascad.titulo}}</td>
                    
                </tr> 
                {% if noticiascad.autenticidade == True %}
                    <td colspan="2"><div class="alert alert-success" role="alert">
                       Esta notícia é verdadeira. Confira em: {{noticiascad.linknews}}
                      </div></td>
                      {%endif%}

                      {%if noticiascad.autenticidade == False %}
                    <td colspan="2"><div class="alert alert-danger" role="alert">
                       Esta notícia é falsa. Confira em: {{noticiascad.linknews}}
                      </div></td>
                      {%endif%}

                    {% endfor %}
                  
                   
                </tbody></table></div></div>
{% endblock %}